<div id="intro-cards">

  <div class="card-deck-wrapper">
    <div class="card-deck">
      
      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/ko4YlD27Ce4" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Listen</h4>
          <p class="card-text">Treat your ears to hand-picked songs from the world's most passionate music fans.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/Kr7OBzd9jKg" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Donate</h4>
          <p class="card-text">Send money directly to artists. Your donation becomes the next song in the playlist. Fans can also accept donations as a reward for their musical discoveries.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/9opx_afte0I" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Request</h4>
          <p class="card-text">Let us know about artists who deserve donations. We'll reach out to them and ask if they're interested. Artists can begin receiving donations when they become verified.</p>
        </div>
      </div>

    </div>
  </div>

</div>