/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$link-blue: #0687f5;
$logo-blue: #2ba6cb;

.red {
  color: red;
}

html, body{
  overflow-x: hidden;
  max-width: 100%;
  color: black;
  background-color: black;
}

footer {
  color: white;
  line-height: 100px;
  .r {
    color: $logo-blue;
    margin-right: 3px;
  }
}

nav {
  .r {
    color: $logo-blue;
    margin-right: 3px;
  }
  .repay {
    color: $logo-blue;
  }
}

.coming-soon {
  color: orange !important;
  font-weight: bold;
  white-space: nowrap;
}

.main.container-fluid {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background: black;
  z-index: -5;
  overflow-x: hidden;
}

.featured-podcast {
  padding-top: 60px;
  padding-bottom: 60px;
  .name {
    margin-bottom: 50px;
  }
}

.header-main-wrapper {
  position: relative;
  background: #f1f1f1;
  z-index: -4;
  nav {
    background: black;
  }
}

.intro {
  margin-bottom: 60px;
}

@mixin latest-donation-request($fontsize) {
  .latest-donation-request {
    color: white;
    background-color: black;
    padding-bottom: 60px;
    .artist {
      margin-bottom: 50px;
      font-size: $fontsize;
    }
    .fan {
      padding-top: 20px;
    }
    .lead {
      padding-top: 60px;
    }
  }
}

.link-blue {
  color: $link-blue;
}

.navbar-brand {
  font-weight: bold;
}

.navlinks {
  margin-top: 0.2rem;
  font-size: 20px;
  a {
    color: white;
    &:hover {
      color: $link-blue;
    }
  }
}

.recent-donations-requests {
  // @include gradient-horizontal(#373a3c, #000);
  padding-bottom: 60px;
  .card {
    border: none;
  }
  .lead {
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
  }
  .loading {
    color: white;
  }
}

#intro-cards {
  .embed-responsive {
    background: black;
    color: white;
    .loading {
      text-align: center;
    }
  }
  .embed-responsive.bandcamp {
    background: #888888;
    color: white;
  }
  .embed-responsive.spotify {
    background: #282828;
    color: white;
  }
}

#jumbotron {
  margin-bottom: 2.5rem;
  .amount {
    font-weight: bold;
  }
  .artist-name {
    color: $link-blue;
    font-weight: bold;
  }
  .display-name {
    color: $link-blue;
    font-weight: bold;
  }
  .dollar {
    margin-right: 1px;
    font-weight: bold;
  }
  .loading {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .metal {
    font-weight: bold;
  }
}

#recent-donation-cards {
  .amount {
    color: $link-blue;
  }
  .embed-responsive {
    background: black;
    color: white;
    .loading {
      text-align: center;
    }
  }
}

#tagline {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

// @include media-breakpoint-up(xs) {
//   @include latest-donation-request(2.5rem);
// }
// @include media-breakpoint-up(sm) { }
// @include media-breakpoint-up(md) { }
// @include media-breakpoint-up(lg) {
//   @include latest-donation-request(100px);
// }
// @include media-breakpoint-up(xl) { }